
.menuicn{
    font-size: 25px;
    margin-top: 9px;
}
.hartcls{
  width: 36px;
}
ion-searchbar{
    --border-radius: 5px;
    color:#000000;
    --background: #ffffff;
}
ion-slides {
  padding-bottom:10px;
//   --bullet-background: #8f8f8f;
  --bullet-background-active:red;
 
}
.headinglabel{
  color:#000000;
  font-weight: bold;
  margin-bottom: -5px;
}
.slidecard{
  background-color:black;
  padding-bottom: 10px;
}
.headingdiv{
    color:white;
    text-align: left;
    margin-left:8px;
}
.hearticn{
  position: absolute;
  top: 8px;
  right: 10px;
  color: #ffffff;
  background-color: #000000;
  width: 22px;
  height: 20px;
  padding:3px;
  // font-size: 20px;
}
.browsecard{
  margin: 3px;
  padding:5px;
  background-color:#ffffff;
  color:#000000;
}
.selectbrowsecard{
  margin: 3px;
  padding:5px;
  background-color:#db152a;
  color:#ffffff;
}
.recomanddiv{
  border:1px solid rgb(195, 195, 195);
  position: relative;
  width: 100%;
  height: 168px;
}
.recommandtxt{
  font-size: 10px;
  color:black;
  font-weight: bolder;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
