<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> Category name</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contentback">
  <div class="ht_15"></div>
  <div class="vertical-align-top-content">
  <ion-row>
  <!-- row1 -->
  <ion-col size="6" >
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/DXqNhT6ESn-k-YiYG0D4hg_pb_x600.png" style="height: 165px; width: auto;" (click)="gotodetail(1)">
      </div>
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt" (click)="gotodetail(1)">Selección Especial 2016</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;" (click)="gotodetail(1)">$1,196</div>
  </ion-col>
  <ion-col size="6" (click)="gotodetail()">
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/SmHEgH6iSvOv8IgSH5cdkw_pb_x600.png" style="height: 165px; width: auto;">
      </div>
      
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt">Cabernet Sauvignon 2015</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;">$1,620</div>
  </ion-col>

  <!-- row2 -->
  <ion-col size="6" >
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/DXqNhT6ESn-k-YiYG0D4hg_pb_x600.png" style="height: 165px; width: auto;" (click)="gotodetail(1)">
      </div>
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt" (click)="gotodetail(1)">Selección Especial 2016</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;" (click)="gotodetail(1)">$1,196</div>
  </ion-col>
  <ion-col size="6" (click)="gotodetail()">
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/SmHEgH6iSvOv8IgSH5cdkw_pb_x600.png" style="height: 165px; width: auto;">
      </div>
      
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt">Cabernet Sauvignon 2015</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;">$1,620</div>
  </ion-col> 

  
  <!-- row3 -->
  <ion-col size="6" >
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/DXqNhT6ESn-k-YiYG0D4hg_pb_x600.png" style="height: 165px; width: auto;" (click)="gotodetail(1)">
      </div>
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt" (click)="gotodetail(1)">Selección Especial 2016</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;" (click)="gotodetail(1)">$1,196</div>
  </ion-col>
  <ion-col size="6" (click)="gotodetail()">
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/SmHEgH6iSvOv8IgSH5cdkw_pb_x600.png" style="height: 165px; width: auto;">
      </div>
      
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt">Cabernet Sauvignon 2015</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;">$1,620</div>
  </ion-col> 

  <!-- row4 -->
  <ion-col size="6" >
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/DXqNhT6ESn-k-YiYG0D4hg_pb_x600.png" style="height: 165px; width: auto;" (click)="gotodetail(1)">
      </div>
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt" (click)="gotodetail(1)">Selección Especial 2016</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;" (click)="gotodetail(1)">$1,196</div>
  </ion-col>
  <ion-col size="6" (click)="gotodetail()">
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/SmHEgH6iSvOv8IgSH5cdkw_pb_x600.png" style="height: 165px; width: auto;">
      </div>
      
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt">Cabernet Sauvignon 2015</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;">$1,620</div>
  </ion-col> 

  <!-- row5 -->
  <ion-col size="6" >
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/DXqNhT6ESn-k-YiYG0D4hg_pb_x600.png" style="height: 165px; width: auto;" (click)="gotodetail(1)">
      </div>
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt" (click)="gotodetail(1)">Selección Especial 2016</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;" (click)="gotodetail(1)">$1,196</div>
  </ion-col>
  <ion-col size="6" (click)="gotodetail()">
    <div class="recomanddiv">
      <div class="flex">
        <img src="https://images.vivino.com/thumbs/SmHEgH6iSvOv8IgSH5cdkw_pb_x600.png" style="height: 165px; width: auto;">
      </div>
      
      <div class="hearticn">
        <ion-icon [name]="(1 == '1')?'heart':'heart-outline'"></ion-icon>
      </div>
    </div>
    <div class="ht_20"></div>
    <div class="recommandtxt">Cabernet Sauvignon 2015</div>
    <div class="ht_5"></div>
    <div style="font-size: 10px;">$1,620</div>
  </ion-col> 

</ion-row>
</div>
</ion-content>
