<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon> takephoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="left-half">
      <ion-button>
         <p>新增</p>
      </ion-button>
    </div>
    <div class="right-half">
      <ion-button>
          <p>刪除</p>
      </ion-button>
    </div>
  </div>

  <div class="pic">
    <img src="https://www.shutterstock.com/image-vector/document-scanner-icon-digital-scanning-600w-2272317571.jpg">
  </div>

</ion-content>
