<ion-header>
  <ion-toolbar>
    <div class="ht_20"></div>
    <ion-row>
      <ion-col size="1" style="text-align: center;font-size: 23px;">
        <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
      </ion-col>
      <ion-col size="11">
        <h1 style="margin-left: 20px;">通知</h1>
      </ion-col>
    </ion-row>
    <div class="ht_20"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ht_20"></div>
  <div class="vertical-align-top-content">
    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 21</div>
      </ion-col>
    </ion-row>

    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 21</div>
      </ion-col>
    </ion-row>

    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 24</div>
      </ion-col>
    </ion-row>

    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 24</div>
      </ion-col>
    </ion-row>

    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 24</div>
      </ion-col>
    </ion-row>

    <ion-row  class="notifyrow">
      <ion-col class="ion-no-padding" size="10">
        <div class="ht_5"></div>
        <div class="titletext">Title</div>
        <div class="ht_5"></div>
        <div class="msgtxt">Message</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col class="ion-no-padding" size="2">
        <div class="ht_5"></div>
        <div class="font10">1 dec 23</div>
      </ion-col>
    </ion-row>
  </div>

  

</ion-content>

<ion-footer class="ion-no-border fotercls">
  <ion-row class="footerrow">
    <ion-col size="3" style="position: relative !important;" class="vertical_centr">
      <div class="underdivnl">
        <img src="assets/image/Home.png" class="fottericon" (click)="home()">
      </div>
    </ion-col>
    <ion-col size="3" style="position: relative !important;" class="vertical_centr">
      <div class="underdivnl">
      <img src="assets/image/search.png" class="fottericon2" (click)="list()">
      </div>
    </ion-col>
    <ion-col size="3" style="position: relative !important;" class="vertical_centr">
      <div class="underdivnl">
        <div class="rounddiv">
        </div>
        <img src="assets/image/Bell.png" class="fottericon">
      </div>
    </ion-col>
    <ion-col size="3" style="position: relative !important;" class="vertical_centr">
      <div class="underdivnl">
      <img src="assets/image/Profile.png" class="fottericon" (click)="profile()">
      </div>
    </ion-col>
  </ion-row>
</ion-footer>