<ion-header>
  <ion-toolbar>
    <div class="ht_40"></div>
    <ion-row>
      <ion-col size="2" style="text-align: center;font-size: 23px;">
        <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <div>Central Outlet</div>
      </ion-col>
    </ion-row>
    <div class="ht_20"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-align-top-content">
    <ion-row>
      <ion-col size="12">
        <div style="color: gray;">Outlet Name</div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">K29</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col size="12">
        <div style="color: gray;">Outlet Address</div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">India</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col size="12">
        <div style="color: gray;">Outlet Contact Number</div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">+91 9624767583</div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col size="12">
        <div style="color: gray;">Operating Hours</div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Mon:<span style="margin-left:17px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Tues:<span style="margin-left:15px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Wed:<span style="margin-left:17px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Thur:<span style="margin-left:15px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Fri:<span style="margin-left:30px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Sat:<span style="margin-left:25px;">9:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Sun:<span style="margin-left:21px;">10:00 AM - 11:00 PM </span></div>
        <div class="ht_5"></div>
      </ion-col>
      <ion-col size="12">
        <div style="color: gray;">Other Information</div>
        <div class="ht_5"></div>
        <div style="color: black;font-weight: bold;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </div>
        <div class="ht_5"></div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>