
.emailrow{
    background-color:#b4b4b4;
    color:white;
    border-radius: 5px;
    padding:8px;
}
.fbrow{
    background-color:#3b5998;
    color:white;
    border-radius: 5px;
}
.googlerow{
    background-color:#d04b39;
    color:white;
    border-radius: 5px;
}