ion-input{
    display: inline-block;
    width: 40px;
    height: 50px;
    margin: 5px;
    border-radius: 11px;
    text-align: center;
    --padding-start: 0px;
    --padding-top: 12px;
    --background:#f0f0f0;
    color:black;
  }
  .extratxt{
      color:#007be2;
      text-align: center;
  }